<style>
    .alert {
        position: fixed;
    }
</style>

<div id="enrollStudentOk" class="alert alert-success" style="display: none;">
    Student successfully enrolled.
</div>

<div id="updateStudentOk" class="alert alert-success" style="display: none;">
    Student successfully updated.
</div>

<div id="deleteStudentOk" class="alert alert-success" style="display: none;">
    Student successfully deleted.
</div>

{{!-- --}}

<div id="createCourseOk" class="alert alert-success" style="display: none;">
    Course successfully created.
</div>

<div id="updateCourseOk" class="alert alert-success" style="display: none;">
    Course successfully updated.
</div>

<div id="deleteCourseOk" class="alert alert-success" style="display: none;">
    Course successfully deleted.
</div>

{{!-- --}}

<div id="enrollStudentError" class="alert alert-danger" style="display: none;">
    Student was not enrolled.
</div>

<div id="updateStudentError" class="alert alert-danger" style="display: none;">
    Student was not updated.
</div>

<div id="deleteStudentError" class="alert alert-danger" style="display: none;">
    Student was not deleted.
</div>

{{!-- --}}

<div id="createCourseError" class="alert alert-danger" style="display: none;">
    Course was not created.
</div>

<div id="updateCourseError" class="alert alert-danger" style="display: none;">
    Course was not updated.
</div>

<div id="deleteCourseError" class="alert alert-danger" style="display: none;">
    Course was not deleted.
</div>